<a href="https://colab.research.google.com/github/taddei68/pythonkurs_h25/blob/main/git_kode/Pythonkurs%20-%20Del%203%20-%20Python%20og%20Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python workshop - Introduksjon til python - Del 3
Filbehandling og regneark.

## Litt kode for å åpne, endre og lukke filer

In [1]:
# Open a normal text file.
with open("Pythonkurs - Del 3 - Test read.txt", "r", encoding="utf-8") as file:
    content = file.read()

# Examine the content.
print(content)

This is a reading test.
A plain textfile.

# Ny del

In [4]:
# Write to a normal text file. Use mode 'a' if you want to append instead of overwriting.
with open("Pythonkurs - Del 3 - Test write.txt", "w", encoding="utf-8") as file:
    file.write("First line to write.\n")
    file.write("The second line to write.")

with open("Pythonkurs - Del 3 - Test write.txt", "r", encoding="utf-8") as file:
  content = file.read()

# Examine the content.
print(content)

First line to write.
The second line to write.

In [5]:
# Open a Excel file.
import pandas as pd
# Remember: 'conda install openpyxl' before importing xlsx

# Read all sheets into a dictionary, sheet_name=None results in all sheets being read.
all_sheets = pd.read_excel("Pythonkurs - Del 3 - Prices clean.xlsx", sheet_name=None)

In [6]:
print(type(all_sheets)) # Verify what datastructure we have.
print(all_sheets.keys()) # Let's get the name of the sheets.

<class 'dict'>
dict_keys(['prices_clean', 'makes'])

In [7]:
for item in all_sheets.values(): # Let us inspect the results.
    print(type(item))
    print(item)
    print("---")

<class 'pandas.core.frame.DataFrame'>
      year   make                       model     price
0     2023  Honda                     Elevate   14530.0
1     2023  Honda                           e   37140.0
2     2023  Honda                   e Advance   37140.0
3     2023  Honda             Pilot Elite AWD   52030.0
4     2023  Honda  Pilot EX-L 8-Passenger AWD   42310.0
...    ...    ...                         ...       ...
1165  2023  Tesla               S Performance  104990.0
1166  2023  Tesla               X Performance  120990.0
1167  2023  Tesla          Model 3 Long Range   51990.0
1168  2023  Tesla               Model X Plaid  119990.0
1169  2023  Tesla          Model X Long Range  107990.0

[1170 rows x 4 columns]
---
<class 'pandas.core.frame.DataFrame'>
       make                  Unnamed: 1
0     Honda                     Elevate
1     Honda                           e
2     Honda                   e Advance
3     Honda             Pilot Elite AWD
4     Honda  Pilot EX-L 8-Passenger AWD
...     ...                         ...
1165  Tesla               S Performance
1166  Tesla               X Performance
1167  Tesla          Model 3 Long Range
1168  Tesla               Model X Plaid
1169  Tesla          Model X Long Range

[1170 rows x 2 columns]
---

Vi ser at vi nå har lest inn en excelfil som har to ark i seg. Hvert av de to arkene er represent som en Pandas DataFrame, og er omkapslet av en Dictionary. La oss droppe den overordnede strukturen og få direkte tilgang til hvert av de to arkene.

In [8]:
df_prices_clean = all_sheets.get("prices_clean", "Not found")
df_makes = all_sheets.get("makes", "Not found")

In [9]:
df_prices_clean

      year   make                       model     price
0     2023  Honda                     Elevate   14530.0
1     2023  Honda                           e   37140.0
2     2023  Honda                   e Advance   37140.0
3     2023  Honda             Pilot Elite AWD   52030.0
4     2023  Honda  Pilot EX-L 8-Passenger AWD   42310.0
...    ...    ...                         ...       ...
1165  2023  Tesla               S Performance  104990.0
1166  2023  Tesla               X Performance  120990.0
1167  2023  Tesla          Model 3 Long Range   51990.0
1168  2023  Tesla               Model X Plaid  119990.0
1169  2023  Tesla          Model X Long Range  107990.0

[1170 rows x 4 columns]

In [10]:
df_makes

       make                  Unnamed: 1
0     Honda                     Elevate
1     Honda                           e
2     Honda                   e Advance
3     Honda             Pilot Elite AWD
4     Honda  Pilot EX-L 8-Passenger AWD
...     ...                         ...
1165  Tesla               S Performance
1166  Tesla               X Performance
1167  Tesla          Model 3 Long Range
1168  Tesla               Model X Plaid
1169  Tesla          Model X Long Range

[1170 rows x 2 columns]

In [11]:
df_makes.rename(columns={"Unnamed: 1":"model"}, inplace=True)

In [12]:
df_makes

       make                       model
0     Honda                     Elevate
1     Honda                           e
2     Honda                   e Advance
3     Honda             Pilot Elite AWD
4     Honda  Pilot EX-L 8-Passenger AWD
...     ...                         ...
1165  Tesla               S Performance
1166  Tesla               X Performance
1167  Tesla          Model 3 Long Range
1168  Tesla               Model X Plaid
1169  Tesla          Model X Long Range

[1170 rows x 2 columns]

In [13]:
# We can customize settings in Panda. To avoid scientific notation.
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [14]:
df_prices_clean.groupby("make").price.min()

make
Acura            31300.00
Alfa Romeo       38000.00
Aston Martin    143900.00
Audi             37400.00
BMW              45550.00
Bentley          35750.00
Bugatti        2990000.00
Buick            21850.00
Cadillac         34390.00
Chevrolet        17195.00
Chrysler         29930.00
Dodge            29990.00
Ferrari         222620.00
Fiat             17500.00
Ford             27770.00
GMC              28400.00
Genesis          39400.00
Honda            14010.00
Hyundai           7300.00
Infiniti         40300.00
Jaguar           47000.00
Jeep             29990.00
KIA              14000.00
Lamborghini     230000.00
Land Rover       43300.00
Lexus            34770.00
Lincoln          38690.00
MINI             23400.00
Maserati         63500.00
Mazda            17750.00
Mclaren         223950.00
Mercedes         37500.00
Nissan           17700.00
Porsche          57500.00
Rolls Royce     341500.00
Subaru           13000.00
Tesla            39900.00
Toyota           13080.00
Volkswagen       20410.00
Volvo            41300.00
Name: price, dtype: float64

In [15]:
df_prices_clean.groupby("make").price.max()

make
Acura           170500.00
Alfa Romeo       87850.00
Aston Martin   3600000.00
Audi            225000.00
BMW             750000.00
Bentley        2155280.00
Bugatti        5000000.00
Buick            58100.00
Cadillac        152195.00
Chevrolet       114500.00
Chrysler         59990.00
Dodge            96660.00
Ferrari        2350000.00
Fiat             52500.00
Ford           1100000.00
GMC             186000.00
Genesis          98700.00
Honda            52030.00
Hyundai          64960.00
Infiniti         87450.00
Jaguar          111200.00
Jeep             98090.00
KIA              63000.00
Lamborghini    3900000.00
Land Rover      408680.00
Lexus           126290.00
Lincoln         112300.00
MINI             42500.00
Maserati        240000.00
Mazda            56950.00
Mclaren        1525100.00
Mercedes        294070.00
Nissan          229000.00
Porsche         232000.00
Rolls Royce     655000.00
Subaru           51990.00
Tesla           195200.00
Toyota          536530.00
Volkswagen       65000.00
Volvo           113940.00
Name: price, dtype: float64

In [16]:
df_prices_clean.groupby("make").price.mean()

make
Acura            53458.00
Alfa Romeo       52846.48
Aston Martin    775809.44
Audi             85834.81
BMW             136842.61
Bentley         386591.82
Bugatti        4023333.33
Buick            36452.42
Cadillac         68873.70
Chevrolet        49844.75
Chrysler         44824.81
Dodge            52648.44
Ferrari         620001.00
Fiat             32254.62
Ford             80101.40
GMC              63852.17
Genesis          62881.71
Honda            29285.59
Hyundai          30005.43
Infiniti         55759.46
Jaguar           74105.31
Jeep             55971.79
KIA              36406.61
Lamborghini     719892.60
Land Rover      158358.93
Lexus            54275.58
Lincoln          67705.29
MINI             31469.23
Maserati        116065.14
Mazda            33343.57
Mclaren         515548.75
Mercedes        107143.70
Nissan           49457.95
Porsche         129861.21
Rolls Royce     436520.83
Subaru           34639.35
Tesla            80349.06
Toyota           49957.38
Volkswagen       39988.67
Volvo            56582.00
Name: price, dtype: float64

In [17]:
df_prices_clean.groupby("make").describe()

              year                                                      price  \
             count    mean  std     min     25%     50%     75%     max count
make
Acura        30.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 30.00
Alfa Romeo   27.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 27.00
Aston Martin 36.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 36.00
Audi         27.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 27.00
BMW          23.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 23.00
Bentley      44.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 44.00
Bugatti       6.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00  6.00
Buick        31.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 31.00
Cadillac     27.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 27.00
Chevrolet    20.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 20.00
Chrysler     27.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 27.00
Dodge        32.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 32.00
Ferrari      20.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 20.00
Fiat         13.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 13.00
Ford         43.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 43.00
GMC          23.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 23.00
Genesis      35.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 35.00
Honda        34.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 34.00
Hyundai      46.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 46.00
Infiniti     37.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 37.00
Jaguar       32.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 32.00
Jeep         39.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 39.00
KIA          28.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 28.00
Lamborghini  30.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 30.00
Land Rover   28.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 28.00
Lexus        26.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 26.00
Lincoln      35.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 35.00
MINI         26.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 26.00
Maserati     35.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 35.00
Mazda        28.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 28.00
Mclaren      16.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 16.00
Mercedes     27.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 27.00
Nissan       44.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 44.00
Porsche      33.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 33.00
Rolls Royce  12.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 12.00
Subaru       23.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 23.00
Tesla        32.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 32.00
Toyota       40.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 40.00
Volkswagen   30.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 30.00
Volvo        25.00 2023.00 0.00 2023.00 2023.00 2023.00 2023.00 2023.00 25.00

                                                                     \
                   mean        std        min        25%        50%
make
Acura          53458.00   24699.24   31300.00   42837.50   50225.00
Alfa Romeo     52846.48   14073.33   38000.00   46145.00   47990.00
Aston Martin  775809.44 1082374.72  143900.00  189575.00  298200.00
Audi           85834.81   50559.06   37400.00   55400.00   73700.00
BMW           136842.61  156312.35   45550.00   58970.00   69420.00
Bentley       386591.82  459624.71   35750.00  226675.00  255390.00
Bugatti      4023333.33  825752.18 2990000.00 3512500.00 3875000.00
Buick          36452.42   11054.59   21850.00   26655.00   33400.00
Cadillac       68873.70   29155.26   34390.00   47795.00   60495.00
Chevrolet      49844.75   29074.47   17195.00   32800.00   39950.00
Chrysler       44824.81    9160.43   29930.00   36515.00   47850.00
Dodge          52648.44   17968.27   29990.00   40552.50   46865.00
Ferrari       620001.00  525043.11  222620.00  358900.00  415750.00
Fiat           32254.62    8461.60   17500.00   28900.00   31950.00
Ford           80101.40  160711.05   27770.00   38420.00   54060.00
GMC            63852.17   35884.85   28400.00   42300.00   51000.00
Genesis        62881.71   15861.48   39400.00   50000.00   60680.00
Honda          29285.59   10313.30   14010.00   20255.00   28115.00
Hyundai        30005.43   16715.04    7300.00   15325.00   28525.00
Infiniti       55759.46   12879.94   40300.00   45750.00   52300.00
Jaguar         74105.31   15434.66   47000.00   64575.00   73400.00
Jeep           55971.79   17773.56   29990.00   39900.00   54730.00
KIA            36406.61   13826.40   14000.00   25222.50   36295.00
Lamborghini   719892.60  937408.25  230000.00  258667.50  382834.00
Land Rover    158358.93  120462.09   43300.00   68900.00  106450.00
Lexus          54275.58   24494.18   34770.00   41488.75   46420.00
Lincoln        67705.29   20878.22   38690.00   51060.00   69360.00
MINI           31469.23    5980.55   23400.00   27150.00   29950.00
Maserati      116065.14   46787.61   63500.00   83500.00  102500.00
Mazda          33343.57    8897.01   17750.00   28037.50   31375.00
Mclaren       515548.75  351866.06  223950.00  326500.00  409400.00
Mercedes      107143.70   67904.43   37500.00   58840.00   85600.00
Nissan         49457.95   33564.30   17700.00   34780.00   43190.00
Porsche       129861.21   50457.56   57500.00   95100.00  109000.00
Rolls Royce   436520.83  100653.95  341500.00  372500.00  404000.00
Subaru         34639.35    9288.71   13000.00   29042.50   33490.00
Tesla          80349.06   34679.14   39900.00   52740.00   65445.00
Toyota         49957.38   82807.32   13080.00   24222.50   32385.00
Volkswagen     39988.67   10761.54   20410.00   31767.50   39315.00
Volvo          56582.00   15588.74   41300.00   47950.00   51250.00


                    75%        max
make
Acura          56250.00  170500.00
Alfa Romeo     51150.00   87850.00
Aston Martin  389725.00 3600000.00
Audi           93900.00  225000.00
BMW           158995.00  750000.00
Bentley       302150.00 2155280.00
Bugatti      4725000.00 5000000.00
Buick          44900.00   58100.00
Cadillac       87940.00  152195.00
Chevrolet      47150.00  114500.00
Chrysler       51730.00   59990.00
Dodge          67102.50   96660.00
Ferrari       640500.00 2350000.00
Fiat           36000.00   52500.00
Ford           66432.50 1100000.00
GMC            87025.00  186000.00
Genesis        76825.00   98700.00
Honda          37140.00   52030.00
Hyundai        46062.50   64960.00
Infiniti       59200.00   87450.00
Jaguar         84175.00  111200.00
Jeep           68835.00   98090.00
KIA            49135.00   63000.00
Lamborghini   546840.00 3900000.00
Land Rover    198625.00  408680.00
Lexus          58193.75  126290.00
Lincoln        82050.00  112300.00
MINI           35400.00   42500.00
Maserati      130210.00  240000.00
Mazda          35540.00   56950.00
Mclaren       533167.50 1525100.00
Mercedes      111525.00  294070.00
Nissan         53815.00  229000.00
Porsche       170000.00  232000.00
Rolls Royce   466175.00  655000.00
Subaru         42340.00   51990.00
Tesla         105490.00  195200.00
Toyota         45012.50  536530.00
Volkswagen     47492.50   65000.00
Volvo          57200.00  113940.00

En av funksjonene som brukes ofte i Excel er pivottabeller. Selv om vi på en måte har gjort det samme i eksemplene over ved hjelp av groupby() så har Pandas en egen pivot_table() metode vi kan se på og.

In [18]:
# Aggregate on "Symbol". The default aggregation function is 'mean'.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
pivot = pd.pivot_table(data=df_prices_clean, index='make', values=["price"])
pivot

                  price
make
Acura          53458.00
Alfa Romeo     52846.48
Aston Martin  775809.44
Audi           85834.81
BMW           136842.61
Bentley       386591.82
Bugatti      4023333.33
Buick          36452.42
Cadillac       68873.70
Chevrolet      49844.75
Chrysler       44824.81
Dodge          52648.44
Ferrari       620001.00
Fiat           32254.62
Ford           80101.40
GMC            63852.17
Genesis        62881.71
Honda          29285.59
Hyundai        30005.43
Infiniti       55759.46
Jaguar         74105.31
Jeep           55971.79
KIA            36406.61
Lamborghini   719892.60
Land Rover    158358.93
Lexus          54275.58
Lincoln        67705.29
MINI           31469.23
Maserati      116065.14
Mazda          33343.57
Mclaren       515548.75
Mercedes      107143.70
Nissan         49457.95
Porsche       129861.21
Rolls Royce   436520.83
Subaru         34639.35
Tesla          80349.06
Toyota         49957.38
Volkswagen     39988.67
Volvo          56582.00

In [19]:
# Aggreagate the sum instead of the default mean.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
pivot = pd.pivot_table(data=df_prices_clean, index='make', values=["price"], aggfunc='sum')
pivot

                   price
make
Acura         1603740.00
Alfa Romeo    1426855.00
Aston Martin 27929140.00
Audi          2317540.00
BMW           3147380.00
Bentley      17010040.00
Bugatti      24140000.00
Buick         1130025.00
Cadillac      1859590.00
Chevrolet      996895.00
Chrysler      1210270.00
Dodge         1684750.00
Ferrari      12400020.00
Fiat           419310.00
Ford          3444360.00
GMC           1468600.00
Genesis       2200860.00
Honda          995710.00
Hyundai       1380250.00
Infiniti      2063100.00
Jaguar        2371370.00
Jeep          2182900.00
KIA           1019385.00
Lamborghini  21596778.00
Land Rover    4434050.00
Lexus         1411165.00
Lincoln       2369685.00
MINI           818200.00
Maserati      4062280.00
Mazda          933620.00
Mclaren       8248780.00
Mercedes      2892880.00
Nissan        2176150.00
Porsche       4285420.00
Rolls Royce   5238250.00
Subaru         796705.00
Tesla         2571170.00
Toyota        1998295.00
Volkswagen    1199660.00
Volvo         1414550.00

In [20]:
# Use multiple aggregate functions.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
pivot = pd.pivot_table(data=df_prices_clean, index='make', values=["price"], aggfunc=['mean', 'sum'])
pivot

                   mean         sum
                  price       price
make
Acura          53458.00  1603740.00
Alfa Romeo     52846.48  1426855.00
Aston Martin  775809.44 27929140.00
Audi           85834.81  2317540.00
BMW           136842.61  3147380.00
Bentley       386591.82 17010040.00
Bugatti      4023333.33 24140000.00
Buick          36452.42  1130025.00
Cadillac       68873.70  1859590.00
Chevrolet      49844.75   996895.00
Chrysler       44824.81  1210270.00
Dodge          52648.44  1684750.00
Ferrari       620001.00 12400020.00
Fiat           32254.62   419310.00
Ford           80101.40  3444360.00
GMC            63852.17  1468600.00
Genesis        62881.71  2200860.00
Honda          29285.59   995710.00
Hyundai        30005.43  1380250.00
Infiniti       55759.46  2063100.00
Jaguar         74105.31  2371370.00
Jeep           55971.79  2182900.00
KIA            36406.61  1019385.00
Lamborghini   719892.60 21596778.00
Land Rover    158358.93  4434050.00
Lexus          54275.58  1411165.00
Lincoln        67705.29  2369685.00
MINI           31469.23   818200.00
Maserati      116065.14  4062280.00
Mazda          33343.57   933620.00
Mclaren       515548.75  8248780.00
Mercedes      107143.70  2892880.00
Nissan         49457.95  2176150.00
Porsche       129861.21  4285420.00
Rolls Royce   436520.83  5238250.00
Subaru         34639.35   796705.00
Tesla          80349.06  2571170.00
Toyota         49957.38  1998295.00
Volkswagen     39988.67  1199660.00
Volvo          56582.00  1414550.00

In [21]:
# Different aggregate functions for each column.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
pivot = pd.pivot_table(data=df_prices_clean, index='make', values=["price", "year"], aggfunc={"price": 'mean', "year": 'count'})
pivot

                  price  year
make
Acura          53458.00    30
Alfa Romeo     52846.48    27
Aston Martin  775809.44    36
Audi           85834.81    27
BMW           136842.61    23
Bentley       386591.82    44
Bugatti      4023333.33     6
Buick          36452.42    31
Cadillac       68873.70    27
Chevrolet      49844.75    20
Chrysler       44824.81    27
Dodge          52648.44    32
Ferrari       620001.00    20
Fiat           32254.62    13
Ford           80101.40    43
GMC            63852.17    23
Genesis        62881.71    35
Honda          29285.59    34
Hyundai        30005.43    46
Infiniti       55759.46    37
Jaguar         74105.31    32
Jeep           55971.79    39
KIA            36406.61    28
Lamborghini   719892.60    30
Land Rover    158358.93    28
Lexus          54275.58    26
Lincoln        67705.29    35
MINI           31469.23    26
Maserati      116065.14    35
Mazda          33343.57    28
Mclaren       515548.75    16
Mercedes      107143.70    27
Nissan         49457.95    44
Porsche       129861.21    33
Rolls Royce   436520.83    12
Subaru         34639.35    23
Tesla          80349.06    32
Toyota         49957.38    40
Volkswagen     39988.67    30
Volvo          56582.00    25

In [22]:
# Adding totals to our pivot.
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
pivot = pd.pivot_table(data=df_prices_clean, index='make', values=["price", "year"], aggfunc={"price": 'mean', "year": 'count'}, margins=True)
pivot

                  price  year
make
Acura          53458.00    30
Alfa Romeo     52846.48    27
Aston Martin  775809.44    36
Audi           85834.81    27
BMW           136842.61    23
Bentley       386591.82    44
Bugatti      4023333.33     6
Buick          36452.42    31
Cadillac       68873.70    27
Chevrolet      49844.75    20
Chrysler       44824.81    27
Dodge          52648.44    32
Ferrari       620001.00    20
Fiat           32254.62    13
Ford           80101.40    43
GMC            63852.17    23
Genesis        62881.71    35
Honda          29285.59    34
Hyundai        30005.43    46
Infiniti       55759.46    37
Jaguar         74105.31    32
Jeep           55971.79    39
KIA            36406.61    28
Lamborghini   719892.60    30
Land Rover    158358.93    28
Lexus          54275.58    26
Lincoln        67705.29    35
MINI           31469.23    26
Maserati      116065.14    35
Mazda          33343.57    28
Mclaren       515548.75    16
Mercedes      107143.70    27
Nissan         49457.95    44
Porsche       129861.21    33
Rolls Royce   436520.83    12
Subaru         34639.35    23
Tesla          80349.06    32
Toyota         49957.38    40
Volkswagen     39988.67    30
Volvo          56582.00    25
All           154572.42  1170

In [23]:
# Sort our result by chaining the sort_values().
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot_table.html
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html
pivot = pd.pivot_table(data=df_prices_clean, index='make', values=["price", "year"], aggfunc={"price": 'mean', "year": 'count'}, margins=True).sort_values(by="year")
pivot

                  price  year
make
Bugatti      4023333.33     6
Rolls Royce   436520.83    12
Fiat           32254.62    13
Mclaren       515548.75    16
Ferrari       620001.00    20
Chevrolet      49844.75    20
BMW           136842.61    23
GMC            63852.17    23
Subaru         34639.35    23
Volvo          56582.00    25
MINI           31469.23    26
Lexus          54275.58    26
Mercedes      107143.70    27
Cadillac       68873.70    27
Alfa Romeo     52846.48    27
Audi           85834.81    27
Chrysler       44824.81    27
Land Rover    158358.93    28
Mazda          33343.57    28
KIA            36406.61    28
Volkswagen     39988.67    30
Acura          53458.00    30
Lamborghini   719892.60    30
Buick          36452.42    31
Jaguar         74105.31    32
Dodge          52648.44    32
Tesla          80349.06    32
Porsche       129861.21    33
Honda          29285.59    34
Genesis        62881.71    35
Maserati      116065.14    35
Lincoln        67705.29    35
Aston Martin  775809.44    36
Infiniti       55759.46    37
Jeep           55971.79    39
Toyota         49957.38    40
Ford           80101.40    43
Bentley       386591.82    44
Nissan         49457.95    44
Hyundai        30005.43    46
All           154572.42  1170

In [ ]:
# This will fail in Google Colab due to lack of copy / paste mechanism.
pivot.to_clipboard(excel=True) # We can copy our dataframe to the clipboard!

## Skrive til en Excelfil v.h.a Python
Vi har lest inn en fil, sett litt på innholdet og nå gjenstår det kun å skrive innhold tilbake til filen.

In [24]:
df_prices_clean.to_excel("Pythonkurs - Del 3 - Python og excel.xlsx", sheet_name='Bilpriser')

In [25]:
# Write our pivots to Excel.
original_pivot = pivot.copy(deep=True)
pivot.to_excel("Pythonkurs - Del 3 - Python og excel.xlsx", sheet_name='Bilpriser pivot')

In [26]:
# Write carprices to a csv. Just to show that you can write a DataFrame to csv as well.
df_prices_clean.to_csv("Pythonkurs - Del 3 - Python og excel.csv")

In [27]:
# Add a new column with new data.
pivot["Mine prisforventninger 2025"] = ((5 * pivot["price"])/100) + pivot["price"]
pivot

                  price  year  Mine prisforventninger 2025
make
Bugatti      4023333.33     6                   4224500.00
Rolls Royce   436520.83    12                    458346.88
Fiat           32254.62    13                     33867.35
Mclaren       515548.75    16                    541326.19
Ferrari       620001.00    20                    651001.05
Chevrolet      49844.75    20                     52336.99
BMW           136842.61    23                    143684.74
GMC            63852.17    23                     67044.78
Subaru         34639.35    23                     36371.32
Volvo          56582.00    25                     59411.10
MINI           31469.23    26                     33042.69
Lexus          54275.58    26                     56989.36
Mercedes      107143.70    27                    112500.89
Cadillac       68873.70    27                     72317.39
Alfa Romeo     52846.48    27                     55488.81
Audi           85834.81    27                     90126.56
Chrysler       44824.81    27                     47066.06
Land Rover    158358.93    28                    166276.88
Mazda          33343.57    28                     35010.75
KIA            36406.61    28                     38226.94
Volkswagen     39988.67    30                     41988.10
Acura          53458.00    30                     56130.90
Lamborghini   719892.60    30                    755887.23
Buick          36452.42    31                     38275.04
Jaguar         74105.31    32                     77810.58
Dodge          52648.44    32                     55280.86
Tesla          80349.06    32                     84366.52
Porsche       129861.21    33                    136354.27
Honda          29285.59    34                     30749.87
Genesis        62881.71    35                     66025.80
Maserati      116065.14    35                    121868.40
Lincoln        67705.29    35                     71090.55
Aston Martin  775809.44    36                    814599.92
Infiniti       55759.46    37                     58547.43
Jeep           55971.79    39                     58770.38
Toyota         49957.38    40                     52455.24
Ford           80101.40    43                     84106.47
Bentley       386591.82    44                    405921.41
Nissan         49457.95    44                     51930.85
Hyundai        30005.43    46                     31505.71
All           154572.42  1170                    162301.04

In [28]:
# Write our updated DataFrame to Excel, we want it as a new Sheet.
pivot.to_excel("Pythonkurs - Del 3 - Python og excel.xlsx", sheet_name='Bilpriser pivot forventninger')

In [29]:
with pd.ExcelWriter("Pythonkurs - Del 3 - Python og excel.xlsx") as writer:
    original_pivot.to_excel(writer, sheet_name='Bilpriser pivot')
    pivot.to_excel(writer, sheet_name='Bilpriser pivot forventninger')

Da har vi sett på hvordan vi kan lese, manipulere og skrive Excelfiler v.h.a Python.

## Oppgave
Fortsett med programmet fra tidligere. Vi skal nå opprette to nye faner i et Excel ark.

* Den ene fanen inneholder selve datasettet vårt. Kastnummer og resultat.
* Den andre fanen inneholder deskriptiv statistikk om datasettet vårt.

NB! Det vil være enklest om du oppretter en Pandas DataFrame basert på datasettet vårt først.

In [30]:
import random

def kast_terning(antall_kast):
    result_array = []
    for i in range(0,antall_kast):
        result_array.append(random.randrange(1,7))
    #print("Antall prosent som er 6:", (result_array.count(6) / antall_kast) * 100)
    return result_array

antall_kast = 100
dataset = kast_terning(antall_kast)

In [33]:
import pandas as pd

df = pd.DataFrame({'labels': ['1', '2', '3', '4', '5', '6'],
                    'occurences': [dataset.count(1), dataset.count(2), dataset.count(3), dataset.count(4), dataset.count(5), dataset.count(6)]
                    })

In [34]:
df

  labels  occurences
0      1          10
1      2          18
2      3          18
3      4          14
4      5          22
5      6          18

In [35]:
# Write df to Excel, we want it as a new Sheet.
df.to_excel("Terningkast.xlsx", sheet_name='Kastnummer og resultat')

In [40]:
df_stat = df.groupby("labels").describe()

df_stat

       occurences
            count  mean std   min   25%   50%   75%   max
labels
1            1.00 10.00 NaN 10.00 10.00 10.00 10.00 10.00
2            1.00 18.00 NaN 18.00 18.00 18.00 18.00 18.00
3            1.00 18.00 NaN 18.00 18.00 18.00 18.00 18.00
4            1.00 14.00 NaN 14.00 14.00 14.00 14.00 14.00
5            1.00 22.00 NaN 22.00 22.00 22.00 22.00 22.00
6            1.00 18.00 NaN 18.00 18.00 18.00 18.00 18.00

In [41]:
# Write df to Excel, we want it as a new Sheet.
df_stat.to_excel("Terningkast.xlsx", sheet_name='Statistikk')

In [44]:
with pd.ExcelWriter("Terningkast.xlsx") as writer:
    df.to_excel(writer, sheet_name='Terningkast og resultat')
    df_stat.to_excel(writer, sheet_name='Statistikk')